body{
    height: 100%;
    width: 100%;
}
#header-logo{
    font-size: 24px;
    color: #F9FAF8;
}
.container-flex{
    display: flex;
    flex: 1;
    justify-content: space-around;
}
li {
    list-style: none;
}
.first-section,.footer{
    background-color: #1F2937;
}
.hero-heading{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: bold;
    
}
.hero-secondary{
    font-size: 18px;
    color: #E5E7EB; 
}
.cta-button{
    background-color:#3882F6;
}
#information-header{
    font-size: 36px;
    font-weight: extra-bold;
    color:#1F2937 ;
}
.flex-container{
    display: flex;
    flex:1;
    flex-direction: row;
}
.third-section{
    background-color: #E5E7EB;
}
#header-logo:first-child {
    margin-right: 200px; 
  }
#quote-text{
    font-size: 36px;
    font-style:light italic;
    color: #1F2937;
}
.footer{
    align-items: center;
    margin-bottom: 0%;
}